.forms{
border: 2px solid;
border-radius: 0.4em;
background-color: #ecebbd;
padding:20px;
position: absolute;
left:50%;
min-width: 380px;
transform: translateX(-50%);
text-align: center; 
}
.field{
    margin-top:0.7em;
}
.beforeInput{
    min-width:120px;
    text-align: left;
    display: inline-block;
    font-weight: bold;
    padding-right: 0.3em;
}

input{
    border:1px solid
}
h2{
    text-align:center;
    text-decoration: underline;
}
.error{
    margin-top:0.8em;
    color: red;
    text-decoration: underline;
}
